*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center; }

h1, h2, h3,
h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700; }

a {
  color: #3e52a3; }
