.CTA {
    margin-bottom: 30rem;

    &__heading {
        font-size: 4.5rem;
        color: $color-dark-cyan;
        margin-bottom: 3rem;
    }

    &__input {
        outline: none;
        border: none;
        padding: 2rem 25rem 2rem 2rem;
        margin-right: 3rem;
        border-radius: 5px;
        box-shadow: 0rem 0rem 1rem rgba(#000, .1);
        font-family: "Open Sans";

        &::placeholder {
            font-family: "Open Sans";
            color: $color-gray-blue;
        }
    }

    &__btn {
        border: 0;
        border-radius: 5px;
        background-image: linear-gradient(0deg, $color-gray-blue, $color-pink);
        color: white;
        font-family: "Open Sans";
        font-weight: 700;
        padding: 2rem 7rem;
        box-shadow: 0rem 0rem 1rem rgba(#000, .1);
    }
}