.footer {
    background-color: $color-dark-cyan;
    padding-top: 8rem;

    .topRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logobox {
        margin-right: auto;

        &-logo {
            transform: scale(0.95);
            margin: 0;
            padding: 0;
        }
    }

    &__navigation {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;

        &-item {
            padding: 0;

            &:not(:last-of-type) {
                margin-right: 6rem;
            }
        }

        &-link {
            text-decoration: none;
            color: #fff;
            padding: 0;
        }

    }

    .bottomRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 4rem;
    }

    &__icons-box {
    }

    &__icons {
        list-style-type: none;
        display: flex;
        padding: 0;

        &-item {
            margin: 0;
            padding: 0;
        }

        &-item a {
            padding: 0;
            margin: 0;
        }

        &-item i {
            font-size: 3.5rem;
            color: white;
            text-decoration: none;
            padding: 0;
            margin: -4rem;
            display: block;
        }
    }

    &__copyright {
        color: white;
    }
}