.footer {
    background-color: $color-dark-cyan;
    padding-top: 8rem;

    .topRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logobox {
        margin-right: auto;

        &-logo {
            transform: scale(0.95);
        }
    }

    &__navigation {
        list-style: none;
        display: flex;

        &-item {
            padding: 0;

            &:not(:last-of-type) {
                margin-right: 6rem;
            }
        }

        &-link {
            text-decoration: none;
            color: #fff;
            padding: 0;
        }

    }

    .bottomRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__icons {

        ul {
            list-style-type: none;

        }

        li {
            margin: 0;
            padding: 0;
        }

        li a {
            padding: 0;
            margin: 0;
        }

        li i {
            color: white;
            text-decoration: none;
            padding: 0;
            margin: 0;
        }
    }

    &__copyright {
        margin-top: 7rem;
        margin-right: 7rem;
        color: white;
    }
}