*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 1rem 5rem 1rem 5rem;
}

html {
    font-size: 62.5%;
    padding: 0;
}

body {
    box-sizing: border-box;
    padding: 0;
}